[core]
	repositoryformatversion = 0
	filemode = false
	bare = false
	logallrefupdates = true
	ignorecase = true
[filter "ignore_dependencies"]
	clean = sed -e '/<LibraryPath/d' -re 's|(<IncludePath>).+(<\\/IncludePath>)|\\1"./Src;$(IncludePath)"\\2|'
	smudge = ./scripts/ignore_dependencies_smudge.sh
